.footer {
    background-color: var(--bg-footer);
    display: flex;
    flex-direction: column-reverse;

    position: sticky;
    bottom: 0;
}

.lista-enlaces, .social-media {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: .25rem 0;
}

/* hacemos desaparecer el titulo de enlaces */
.enlaces p {
    display: none;
}