.gallery-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}

.gallery-grid .gallery-item img {
    filter: grayscale(100%);
    width: 500px;
    height: 500px;
    object-fit: cover;
}
/* con esto conseguimos quitar el filtro anterior al pasar nuestro cursor por encima */
.gallery-grid .gallery-item:hover img {
    filter: none;
}

.gallery-item {
    position: relative;
    margin: 10px;
}

.gallery-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    /* top: 100%; */
    background-color: rgba(0, 0, 0, .65);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* hacemos que la aparicion del texto no sea de manera inmediata, podemos graduar el tiempo de transicion en la opacidad del item. "all" (para texto e imagen), "s" o "ms" (duracion de la transicion) "ease"(manera suave). Hace una transicion con efecto caida del texto sobre la imagen  usando "top"*/
    transition: all 1s ease;
    
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
    /* top: 75%; */
    height: 25%;
}

.gallery-overlay .content {
    font-size: 1.1rem;
}