* {
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
}
/* el before y el after se utilizan para que los diferentes navegadores no tengan problemas con nuestras medidas de caja */
/* content-box (suma contenido, padding y border a las medidas que nosotros establecemos) mientras border-box (a unas medidas dadas de caja: resta el contenido, padding y border). Normalmente se usa border-box*/
*, *::before, *::after {
    box-sizing: border-box;

}

body {
    background-color: black;
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Monda', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

a {
    color: #d65a31;
    text-decoration: none;
}

.logo, .logo span {
    font-family: 'Gugi', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

.logo span {
    color: #d65a31;
    
}
